html, body{
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background: #eee;
  margin: 0
}
h2, h3, h4, h5, h6{
  font-weight: 500;
}
fieldset{
  border: none;
}

button{
  padding: 1em;
}

.App {
  margin: 0 auto;
}

.navHeader{
  background: #333;
  box-sizing: border-box;
  color: #fff;
  padding: 1em;
  width: 100%;
}

.navHeader a{
  color: #fff;
}
.generalContent{

}
.loggedContent{
  box-sizing: border-box
}
.horizontalMenu{
  background: #333;
}
.contentMenu{

}

.verticalMenu{
  background: #333;
  height: 100vh;
  position: fixed;
  width: 15%;
}
  .verticalMenu ul{
    margin: 0;
    padding: 0;
  }

  .verticalMenu li{
    list-style: none;
  }
  .verticalMenu li:hover{
    background: #fc0;
  }
  .verticalMenu a{
    color: #fff;
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    width: 100%;
  }
  .verticalContent{
    padding-left: 17%;
  }
  /* Cabeçalho logado */

  .box-unlogged{
    background: #fff;
    border: 1px solid #CCC;
    margin: 0 auto;
    max-width: 400px;
    padding: 1em;
  }

  .box-error{
    color: #c00;
  }
  /* Cabeçalho logado */

  .header-logged{
    background: #555;
    padding: .5em 1em;
  }
  .header-logged a{
    color: #eee
  }