<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticia</title>
		</head>
	<body>

		<h1>Lista de Noticia </h1>
		<dl>
				<dt><%= noticia[0].id_noticia %> - <%= noticia[0].titulo %></dt>
				<dd><%= noticia[0].noticia %></dd>
		</dl>
	</body>
</html>