<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticias</title>
		</head>
	<body>

		<h1>Noticias </h1>
		<dl>
			<% for (i = 0; i < noticias.length; i++) { %>
				<dt><%= noticias[i].id_noticia %></dt>
				<dd><%= noticias[i].titulo %></dd>
			<% } %>
		</dl>
	</body>
</html>