<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticia</title>
		</head>
	<body>

		<h1>Lista de Noticia </h1>
		<h2><%= noticia[0].id_noticia %> - <%= noticia[0].titulo %></h2>
		<h5>Resumo: <%= noticia[0].resumo %></h5>
		<p><%= noticia[0].noticia %></p>
	</body>
</html>